@{
    ViewData["Title"] = "About";
}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4">About BG-BaBa</h1>
            <p class="lead">BG-BaBa is a dedicated forum for Bulgarian grandmothers to connect, share, and support each other. Whether you're looking for traditional recipes, heartwarming stories, or tips on crocheting and knitting, BG-Baba is the place for you.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-lg-8 text-center">
            <h2>Our Mission</h2>
            <p>Our mission is to create a warm and welcoming community for Bulgarian grandmothers. We believe in the power of connection and the importance of preserving our cultural heritage through shared experiences and knowledge.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-lg-8 text-center">
            <h2>Developer API</h2>
            <p>If you're a developer and interested in integrating with our platform, check out our API documentation.</p>
            <a href="http://localhost:5000/api/swagger/" class="btn btn-outline-primary" target="_blank">API Documentation</a>
        </div>
    </div>
</div>
